.table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color:#6a5d5d;
    background-color: white;
}
.table tr{
    display: flex;
    justify-content: space-between;
}
.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}
.table td{
    padding: 0.5rem;
}
.infobox__total{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}